font-sans = "Avenir", "Segoe UI", "Montserrat", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif
font-mono = "Andale Mono", Consolas, Courier, monospace

themeColor = #52C4C5
themeColorRgb = rgba(82, 196, 197, 0)
themeColorRgba()
  rgba(82, 196, 197, arguments)
